body{
    color: #666;
}
a {
    color: #147285;
}
a:hover, a:active, a:focus {
    color: #333333;
}
.logoLogin{
    width:100%;
    text-align:center;
    margin:10px 0 30px;
    font-size: 35px;
    font-weight: bold;
    color: #0180c4;
}
.login-box, .register-box{
    margin:0 auto;
}
.login-page, .register-page {
    background: #fcf1f0;
}
.login-logo{
    font-size:27px;
    color:#007774;
    font-weight:600
}
.login-logo a, .register-logo a{
    color: #a81f42;
}
.main-header .navbar{
    min-height:70px;
}
.main-header .logo{
    height:70px;
    position:absolute;
}
.navbar-nav{
    margin:10px 0;
}
.btn-primary, .btn-primary:focus,.btn-primary:active, .btn-primary[disabled]:hover{
    color: #fff;
    background-color: #264f76;
    border:none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
    background-color: #386a99;
}
.btn-primary.direita {
    float:right;
    margin-left: 5px
}
.acuracidade{
    float:right;
    margin-top: 6px;
    margin-right: 20px;
}
.btn-warning{
    border:none;
    color: #666;
    background-color: #f4f4f4;
}
.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning:active:focus {
    background-color: #e7e7e7;
    color: #666;
}
.skin-blue .main-header .navbar{
    background-color: #3c8dbc;
}
.skin-blue .main-header .navbar .nav>li>a{
    color:#fff;
}
.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a{
    background: none;
    color: #3c3c3c;
}
.skin-blue .main-header .logo,.skin-blue .main-header .logo:hover {
    background-color: transparent;
    width:133px;
    margin:7px;
    font-size:25px;
    font-weight:bold;
}
.box.box-primary {
    border-top-color: #fcf1f0;
}
.titulo{
    color: #fff;
    font-weight:600;
    font-size:22px;
    position:absolute;
    left:50%;
    top:18px;
    margin-left:-140px;
}
.skin-blue .main-header li.user-header{
    background-color: #a81f42;
}

.table{
  margin-bottom:0;
}
.teste{
    display:none
}
.tabela {
  position: relative;
  border: 1px solid #f4f4f4;
  padding-top: 37px;
  background: #fff;
}
.box_limiteAltura{
    overflow:auto;
}
th {
  height: 0!important;
  line-height: 0!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
  color: transparent;
  border: none!important;
  white-space: nowrap;
  background:#f9f9f9;
}
th div{
  position: absolute;
  background: transparent;
  color: #fff;
  padding: 9px 10px;
  top: 0;
  margin-left: -9px;
  line-height: normal;
  border-left: 1px solid #f4f4f4;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    font-size:15px
}
.label-danger{
    background-color:#313e4f!important
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary, .btn-primary.active:focus{
    color: #fff;
    background-color: #11605C;
    border-color: #041817;
}
.btn-primary.active:hover, .btn-primary:hover{
    color:#fff
}
.btn-primary.active.focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
    background-color: #848687;
    border-color: #122b40;
}
.md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.resultado{
    font-size: 19px;
    margin: 0 0 10px 100px;
}
.resultado:last-child{
    margin:0 0 0 100px
}
.resultado span{
    display: inline-block;
    padding:4px 10px;
    margin-right:5px;
    font-size: 20px;
    border-radius: 3px;
    text-align: center;
}
.espaco{
    margin-bottom:15px
}
.fundoCinza {
    background-color: #505050;
    color: #ffffff;
}
.fundoVerde{
    background-color: #007774;
    color: #ffffff;
}
.fundoAzul{
    background-color: #264f76;
    color: #ffffff;
}
.fundoCinzaClaro{
    background-color:#efefef;
}
.widget {
    border-radius: 5px;
    padding: 1px 20px 15px 20px;
}
.tabelaDetalhe .modal-lg{
    width: 1000px !important;
}